---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emmanuella-3097405</title>

    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="logo">BTS</div>
      <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/tour">Tour</a>
        <a href="/news">Blog</a>
        <a href="/playlist">Playlist</a>
      </div>
    </div>

    <div class="home-page">
      <div class="image">
        <img src="images/bts.webp" alt="Your Photo" />
      </div>
      <div class="description">
        <h2>Bangtan Soyeondan</h2>
        <p>
          Since debuting in 2013 and sweeping rookie awards both domestically
          and internationally, BTS has grown into a top-tier boy group
          representing South Korea. They are recognized as "21st-century pop
          icons," sparking a global BTS phenomenon. BTS has topped prestigious
          global charts such as the U.S. Billboard, the UK Official Charts, and
          Japan's Oricon, as well as platforms like iTunes, Spotify, and Apple
          Music. They have set unparalleled records in album sales, music video
          views, and social media indices. Notably, BTS is the first group to
          simultaneously conquer the Billboard "Hot 100" and "Billboard 200"
          charts in the same week, achieving five total "Billboard 200" No. 1s
          and four "Hot 100" No. 1s.
          <br /><br />

          Additionally, BTS made history as the first Korean artists to perform
          a solo stage at the 63rd Grammy Awards, completing the remarkable feat
          of performing at all three major U.S. music award shows: the Billboard
          Music Awards, the American Music Awards, and the Grammy Awards.
          Through stadium tours, BTS has solidified their status as global
          artists in the international concert scene. They have also extended
          their influence beyond music by delivering speeches at the United
          Nations and promoting positive change through initiatives like the
          LOVE MYSELF campaign.
        </p>
      </div>
    </div>

    <div class="memberspage">
      <h2>MEMBER</h2>
      <div class="mmm">
        <div class="members">
          <img class="members-image" src="images/jk.jpg" alt="Jeon Jungkook" />
          <h3>Jeon Jungkook</h3>
        </div>

        <div class="members">
          <img class="members-image" src="images/v.jpg" alt="Kim Taehyung" />
          <h3>Kim Taehyung</h3>
        </div>

        <div class="members">
          <img class="members-image" src="images/jimin.jpg" alt="Park Jimin" />
          <h3>Park Jimin</h3>
        </div>

        <div class="members">
          <img class="members-image" src="images/hobi.jpg" alt="Jung Hoseok" />
          <h3>Jung Hoseok</h3>
        </div>

        <div class="members">
          <img class="members-image" src="images/suga.jpg" alt="Min Yoongi" />
          <h3>Min Yoongi</h3>
        </div>

        <div class="members">
          <img class="members-image" src="images/jin.jpg" alt="Kim Seokjin" />
          <h3>Kim Seokjin</h3>
        </div>

        <div class="single-member">
          <img class="members-image" src="images/rm.jpg" alt="Kim Namjoon" />
          <h3>Kim Namjoon</h3>
        </div>
      </div>
    </div>

    <footer>
      <a href="https://www.griffith.ie/" target="_blank"
        ><img src="images/griffith.webp" alt="Griffith College" /></a
      >
      <p>Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
    </footer>
  </body>
</html>
