---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emmanuella-3097405</title>

    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="navbar">
      <div class="logo">BTS</div>
      <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/tour">Tour</a>
        <a href="/news">Blog</a>
        <a href="/playlist">Playlist</a>
      </div>
    </div>

    <!-- Hero Section -->
    <div class="hero">
      <h1>Welcome to BTS World</h1>
      <p>The journey starts here</p>
      <div class="hero-buttons">
        <a href="https://ibighit.com/bts/kor/" target="_blank" class="btn"
          >Discover</a
        >
        <!-- <a href="https://ibighit.com/bts/kor/" class="btn btn-outline">Learn More</a> -->
      </div>
    </div>

    <!-- Content Section -->
    <div class="container">
      <div class="image">
        <img src="/images/happy.png" alt="Happy Image" />
      </div>
      <div class="content">
        <h2>Out Now</h2>
        <p>
          Experience the heartfelt journey of Jin with his latest album,
          "Happy." A celebration of joy, growth, and meaningful melodies awaits.
          Don’t miss this beautiful expression of Jin's artistry!
        </p>
      </div>

      <div class="content">
        <h2>Coming Soon</h2>
        <p>
          Immerse yourself in the soulful harmony of V and Park Hyo Shin with
          their enchanting single, "Winter Ahead." A heartfelt jazz-pop
          masterpiece that warms the soul and celebrates the beauty of
          togetherness. Don’t miss it!
        </p>
      </div>

      <div class="image">
        <img src="/images/layover.png" alt="Happy Image" />
      </div>
    </div>

    <footer>
      <a href="https://www.griffith.ie/" target="_blank"
        ><img src="images/griffith.webp" alt="Griffith College" /></a
      >
      <p>Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
    </footer>
  </body>
</html>
