---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emmanuella-3097405</title>

    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="navbar">
      <div class="logo">BTS</div>
      <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/tour">Tour</a>
        <a href="/news">Blog</a>
        <a href="/playlist">Playlist</a>
      </div>
    </div>

    <main>
      <div class="blog-heading">
        <h1>Blog Posts</h1>
        <div class="blog-container">
          <div class="blog-card">
            <img
              src="/images/bts-pc.jpg"
              alt="Post-1 image"
              class="blog-image"
            />
            <div class="blog-content">
              <p class="blog-date">17-10-2022 · 3 min read</p>
              <h2 class="blog-title">BTS Military Service</h2>
              <p class="blog-description">
                BIGHIT MUSIC is proud to announce today that the members of BTS
                are currently moving forward with plans to fulfill their
                military service.
                <a href="/blog/post-1" class="read-more">Read more...</a>
              </p>
            </div>
          </div>
          <div class="blog-card">
            <img src="/images/jin.jpg" alt="Post-2 image" class="blog-image" />
            <div class="blog-content">
              <p class="blog-date">18-11-2024 · 3 min read</p>
              <h2 class="blog-title">
                [NOTICE] Jin’s “Running Wild (Remixes)” Release
              </h2>
              <p class="blog-description">
                Hello. This is BIGHIT MUSIC.Thank you for the incredible support
                you've shown for Jin's solo album, "Happy."
                <a href="/blog/post-2" class="read-more">Read more...</a>
              </p>
            </div>
          </div>
          <div class="blog-card">
            <img src="/images/v.jpg" alt="Post-3 image" class="blog-image" />
            <div class="blog-content">
              <p class="blog-date">21-11-2024 · 3 min read</p>
              <h2 class="blog-title">
                [NOTICE] V's Digital Single "Winter Ahead (with PARK HYO SHIN)"
                Release Information
              </h2>
              <p class="blog-description">
                Hello. This is BIGHIT MUSIC. We are excited to announce the
                release of BTS member V’s digital single “Winter Ahead (with
                PARK HYO SHIN).”
                <a href="/blog/post-3" class="read-more">Read more...</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <a href="https://www.griffith.ie/" target="_blank"
        ><img src="/images/griffith.webp" alt="Griffith College" /></a
      >
      <p>Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
    </footer>
  </body>
</html>
