---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Emmanuella-3097405</title>

    <link rel="stylesheet" href="src/styles/styles.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="logo">BTS</div>
      <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/tour">Tour</a>
        <a href="/news">Blog</a>
        <a href="/playlist">Playlist</a>
      </div>
    </div>

    <!-- Hero Section -->
    <header class="tour-hero">
      <h1>BTS : LOVE YOURSELF</h1>
      <p>Discover the magic of BTS on their latest world tour.</p>
    </header>

    <!-- Tour Dates Section -->
    <main>
      <section class="tour-dates">
        <div class="tour-item">
          <p class="date">21 MAY 2026</p>
          <p class="location">Oakland, CA</p>
          <p class="venue">Oakland-Alameda County Coliseum</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">23 MAY 2026</p>
          <p class="location">Los Angeles, CA</p>
          <p class="venue">Crypto.com Arena</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">25 MAY 2026</p>
          <p class="location">Chicago, IL</p>
          <p class="venue">United Center</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">25 MAY 2026</p>
          <p class="location">Chicago, IL</p>
          <p class="venue">United Center</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">25 MAY 2026</p>
          <p class="location">Chicago, IL</p>
          <p class="venue">United Center</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">25 MAY 2026</p>
          <p class="location">Chicago, IL</p>
          <p class="venue">United Center</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
        <div class="tour-item">
          <p class="date">25 MAY 2026</p>
          <p class="location">Chicago, IL</p>
          <p class="venue">United Center</p>
          <a href="#" class="ticket-button">TICKET</a>
        </div>
      </section>
    </main>

    <footer>
      <a href="https://www.griffith.ie/" target="_blank"
        ><img src="images/griffith.webp" alt="Griffith College" /></a
      >
      <p>Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
    </footer>
  </body>
</html>
